body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #111;
  color: white;
  text-align: center;
  margin: 0;
  padding: 20px;
}
header h1 {
  color: #ff0000;
  text-shadow: 2px 2px #000;
}
#story {
  font-size: 1.3em;
  margin: 20px;
}
#choices button {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
#choices button:hover {
  background-color: #c40000;
}
#storyImage {
  width: 70%;
  max-width: 600px;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0 0 20px #ff0000;
}